<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Présence Étudiants</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='style_presence.css') }}">
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body>
       {% if popup_cne %}
            <script>
            Swal.fire({
                icon: 'warning',
                title: 'Étudiant(e) introuvable',
                text: "Aucun(e) étudiant(e) n'a le CNE '{{ popup_cne }}'. Voulez-vous l'enregistrer ?",
                showCancelButton: true,
                confirmButtonText: 'Oui, enregistrer',
                cancelButtonText: 'Annuler'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{{ url_for('detail_etudiant') }}";
                }
            });
            </script>
        {% endif %}

        <h1>Présence</h1><br>
        <div class="container">
            <form method="POST" action="{{ url_for('presence') }}">
                <div class="etudiant">
                    CNE/MASSAR<br>
                    <input type="text" name="cne" value="{{ infos['cne'] if infos is defined else '' }}"><br> 
                    Nom<br>  
                    <input type="text" name="nom" value="{{ infos.get('nom', '') }}" readonly><br>
                    STATUT<br>
                    <input type="text" name="statut" value="{{ infos.get('statut', '') }}" readonly><br>
                </div>
                <br>

                <div class="admin">
                    Prénoms<br>
                    <input type="text" name="prenom" value="{{ infos.get('prenom', '') }}" readonly><br>
                    Mail<br>
                    <input type="text" name="mail" value="{{ infos.get('mail', '') }}" readonly><br>
                </div>
                
                <div class="boutton">
                    <input type="submit" name="action" value="Rapport Étudiant(e)" title="Liste présence de l'étudiant(e)">
                </div>
                
                <div class="scroll-zone"> 
                    <table border="2px">
                        <thead>
                            <tr>
                                <th>CNE/<br>MASSAR</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Département</th>
                                <th>Mail</th>
                                <th>Date</th>
                                <th>Heure</th>
                                <th>Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in presences %}
                            <tr>
                                <td>{{ p[0] }}</td>
                                <td>{{ p[1] }}</td>
                                <td>{{ p[2] }}</td>
                                <td>{{ p[3] }}</td>
                                <td>{{ p[4] }}</td>
                                <td>{{ p[5] }}</td>
                                <td>{{ p[6] }}</td>
                                <td>{{ p[7] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="container_date">
                    <div class="date">
                        Période du <br><input type="date" name="date_debut" value="{{ date_debut }}"><br>
                        Au <br><input type="date" name="date_fin" value="{{ date_fin }}"><br>
                    </div>
                    <div class="boutton_calcul">
                        <input type="submit" name="action" value="Calculer" title="Calculer pour l'étudiant(e)">
                    </div>

                    <div class="nombre">
                        Nombre d'absence <input type="text" name="absence" value="{{ nb_absence }}" readonly>
                        Nombre de Présence <input type="text" name="presence" value="{{ nb_presence }}" readonly>
                    </div>
                </div>
            </form>

             <form method="POST" action="{{ url_for('rechercher_etudiant') }}">
                <div class="search">
                    <input type="text" name="cne_recherche" placeholder="Rechercher par CNE/MASSAR" required>
                </div>
                <div class="boutton_recherche">
                    <input type="submit" value="Rechercher" title="Rechercher un(e) étudiant(e)">
                </div>
            </form>

             <div class="container_rapport">
                <form method="POST" action="{{ url_for('generer_rapport') }}">
                    <div class="boutton_GR">
                        <input type="submit" value="Générer Rapport" title="Générer le rapport de présence">
                    </div>
                </form>
            </div>
        </div> 
        <br><br>
        <div class="boutton_accueil"><a href="{{ url_for('accueil') }}" title="Accueil">⬅</a></div>
    </body>
</html>